/*
    Name: Frank Riggio
    Assingment: Pretty About You
    Date: 09/14/2021
*/

#footer {
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}